html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

/* 全局样式 */
.el-menu {
  border-right: none !important;
}

.el-menu-item.is-active {
  background-color: #263445 !important;
} 